<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resumen - Información Personal</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Manejo de Frameworks</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Ruby on Rails</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>JavaEE</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Joomla</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="40%">
                <div class="skillbar-title"><span>Angular2</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Lenguajes de Programación</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Java</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>c/c++</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Html,css,Bootstrap</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar --> 

             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>MySql DB</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Manejo de paquetes</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Office</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Latex</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title"><span>Flex</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>Bison</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar -->   

             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="30%">
                <div class="skillbar-title"><span>Mongo DB</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Musica</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Baloncesto</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Lectura</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Viajes</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Idiomas</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Español</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Inglés</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="30%">
                <div class="skillbar-title"><span>Japonés</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="10%">
                <div class="skillbar-title"><span>Chino</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">10%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        
        <!-- .title_content 
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
         -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
         <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experiencia</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Desarrollo Web <span class="duration"><i class="fa fa-calendar color"></i> 2016</span></h5>
                <h6><span class="fa fa-briefcase"></span>Sitio web Mongua</h6>
                <p>Páginas web desarrolladas durante el curso Gráfica Interactiva, además de la administración del sitio web del sesquicentenario de la facultad de ingeniería.</p>
            </li>
            <li>
                <h5>Desarrollo Front-End <span class="duration"><i class="fa fa-calendar color"></i> 2016 </span></h5>
                <h6><span class="fa fa-briefcase"></span> Lavalotú</h6>
                <p>Colaboradora del proyecto Lavalotu desarrollado en el curso Ingeniería de software2</p>
                <p>Colaboradora del proyecto Muro de publicaciones desarrollado en el curso arquitectura de software</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Educación</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Ingeniería de Sistemas y Computación<span class="duration"><i class="fa fa-calendar color"></i> 2013 - 2018</span></h5>
                <h6><span class="fa fa-book"></span> Universidad Nacional de Colombia</h6>
                <p>En curso</p>
            </li>
            
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Trabajo actual</div>
            <div class="clear"></div>
        </div>
        
        <ul class="attributes">
            <li class="first">
                <h5>Monitora académica<span class="duration"><i class="fa fa-calendar color"></i> 2017-2018</span></h5>
                <h6><span class="fa fa-book"></span> Universidad Nacional de Colombia</h6>
                <p>Monitora académica de los cursos métodos numéricos, sistemas de información, bases de datos e introducción a la ingeniería de sistemas.</p>
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        
        <!-- /.title_content -->
        

        
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->